@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --margin-transition-duration: 0.4s;
    --margin-timing-function: ease;
    --base-transision-duration: 0.4s;
    --base-transitionn-timing-function: ease-in-out;
    --main-sidebar-width: 22.125rem;
    --menu-sidebar-width: 22.125rem;
}

* {
    font-family: 'Roboto';
}

.hljs {
    @apply bg-slate-50 !px-6 rounded-xl my-4;
}